### Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Loading the data saved after data cleaning.

In [2]:
df_tor = pd.read_csv(r"Toronto_Borough.csv")

In [3]:
df_tor.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [4]:
df_tor.shape

(103, 3)

### Loading the Geospatial Data of Toronto from the given link

In [5]:
df_gsdata = pd.read_csv("https://cocl.us/Geospatial_data")

In [6]:
df_gsdata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [7]:
df_gsdata.shape

(103, 3)

### Joining the two dataframes on the PostalCode column

In [8]:
df_tor = df_tor.join(df_gsdata.set_index('Postal Code'), on = 'PostalCode')
df_tor.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [9]:
df_tor.shape

(103, 5)

### Creating a test dataframe

In [10]:
# Test DataFrame
column_names = df_tor.columns
PosCodes = ["M5G","M2H","M4B","M1J","M4G","M4M","M1R","M9V","M9L","M5V","M1B","M5A"]
df_test = pd.DataFrame(columns = column_names)

for i in PosCodes:
    df_test = df_test.append(df_tor[df_tor['PostalCode'] == i], ignore_index = True)

In [11]:
df_test

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
1,M2H,North York,Hillcrest Village,43.803762,-79.363452
2,M4B,East York,"Woodbine Gardens,Parkview Hill",43.706397,-79.309937
3,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
4,M4G,East York,Leaside,43.709060,-79.363452
5,M4M,East Toronto,Studio District,43.659526,-79.340923
6,M1R,Scarborough,"Maryvale,Wexford",43.750072,-79.295849
7,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
8,M9L,North York,Humber Summit,43.756303,-79.565963
9,M5V,Downtown Toronto,"CN Tower,Bathurst Quay,Island airport,Harbourf...",43.628947,-79.394420
10,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
11,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636

### Saving the data on local drive in csv format

In [12]:
df_tor.to_csv("Tor_data_GeoSpatial.csv", index_label = False)